body, .body {
    letter-spacing: 0px;
    font-family: Helvetica; 
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 0px;
}

.DateInput_input 
{
    height: calc(2.25em);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    background-color: #f7f7f9;
    border-radius: 0;
}

.tabulator .tabulator-header .tabulator-col {
    background: #343a40;
    color: #fff;
}

.nav-link {
    font-size: 1rem;
}

 .navbar-brand {
    font-size: 1.2rem;
}